* {
	margin: 0;
	padding: 0;
	font-size:12px;
}
* body {
	font: 12px "宋体";
	line-height: 1.6em;
	color: #8e8e91;
	scrollbar-face-color:#eef2fa;
	scrollbar-arrow-color:5a75a5;
	scrollbar-track-color:#fff;
	scrollbar-shadow-color:#fff;
	scrollbar-highlight-color:#fff;
	scrollbar-3dlight-color:#bac7db;
	scrollbar-darkshadow-Color:#bac7db;
}
ul,li{
	list-style:none;
}
.text1{
	border:1px solid #b6b6b6;
	height:18px;
	line-height:18px;
	width:200px;
}
p {
	margin: 0 0 15px 0;
}
h1 {
	font: bold 20px "宋体";
	color: #444;
}
h2 {
	font: bold 14px "宋体";
	margin: 0 0 10px;
	padding: 0 0 3px;
	color: #333;
	border-bottom: 1px solid #eee;
}
h3 {
	font: bold 12px "宋体";
	margin: 0;
	padding: 5px;
	color: #000;
	background-color:#cde8f5;
}
h4 {
	font: bold 12px "宋体";
	margin: 0;
	padding: 5px;
	color: #fff;
	background-color:#1d9fca;
}
img {
	border: 0;
}
#content {
	width: 930px;
	margin: 25px auto;
}
#fishContent {
	width: 939px;
	margin: 25px auto;
}
#logo {
	margin: 5px 0 10px 0;
	width: 380px;
	height:60px;
	background:url(../images/banner.gif) no-repeat;
	float: left;
	cursor:pointer;
}
#fishLogo {
	margin: 5px 0 10px 0;
	width: 200px;
	height:60px;
	background:url(../../images/fish.png) no-repeat;
	float: left;
	cursor:pointer;
}
#logo p {
	margin: 0;
}
#menu {
	float: right;
	padding: 0 0 0 0;
	margin: 0 0 9px;
}
#menu li {
	display: inline;
}
#menu .top{
	padding:5px 0 35px 0;
	margin-left:230px;
}
#menu .bottom li a {
	float: left;
	width: 87px;
	padding: 4px 0 7px;
	text-align: center;
	margin: 0 0 0 10px;
	color: #636365;
}
#menu .bottom li a.current {
	background: #fff url(../images/button.gif) no-repeat;
	color: #fff;
}
#menu .bottom li a:hover {
	text-decoration: none;
	color: #000;
	background: #fff url(../images/button_grey.gif) no-repeat;
}
.clear {
	clear: both;
}
.caption {
	background: #fff url(../images/title.gif) no-repeat;
	padding: 4px 0 0 16px;
	height: 33px;
	color: #fff;
}
.caption p {
	margin: 0;
}
.caption p img{
	padding:0 3px 1px 0;
}
.caption_group {
	background: #fff url(../../commons/images/title2.gif) no-repeat;
	padding: 4px 0 0 16px;
	height: 33px;
	color: #fff;
	cursor:pointer;
}
.caption_group p {
	margin: 0;
}
.caption_group p img{
	padding:0 3px 1px 0;
}
.box {
	padding: 10px;
	background: #eee;
}
	.box li {
		list-style: none;
		border-bottom: 1px dotted #ccc;
		line-height: 26px;
	}
	.box li a {
		padding: 0 5px;
	}
	.box li .bindLink{
		background:url(../images/icon/book_link.gif) left center no-repeat;
		padding:3px 0 0 20px;
	}
	.box li .unbindLink{
		background:url(../images/icon/book.gif) left center no-repeat;
		padding:3px 0 0 20px;
	}
.box2 {
	padding: 10px;
	background: #fff;
}
	.box2 li {
		list-style: none;
		line-height: 24px;
	}
	.box2 li a {
		padding: 0 5px;
	}
	
.groupbox{
	background: #eee;
	padding: 10px;
}
.smallthumb {
	width: 109px;
}
#left {
	width: 240px;
	float: left;
	margin: 0 0 20px 0;
}
#right {
	float: right;
	width: 660px;
}
#middle{
	margin:auto;
	width:90%;
}
#navbar{
	height:24px;
	line-height:24px;
	background-color:#eee;
}
.date {
	font-size: .8em;
	border-top: 1px solid #eee;
	padding: 5px 0 0;
}
#footer {
	clear: both;
	padding: 10px;
	line-height:18px;
	background: #eee;
	text-align:center;
}
.simpleList{
	border-collapse:collapse;
	border:1px solid #b1d6e8;
}
.simpleList th{
	border:1px solid #b1d6e8;
	height:20px;
	line-height:20px;
	background-color:#e1f1f9;
	font-weight:normal;
	color:#333;
	text-align:left;
	padding-left:5px;
}
.simpleList td{
	height:20px;
	line-height:20x;
	border:0;
	border-bottom:1px solid #b1d6e8;
	color:#333;
	text-align:left;
	padding-left:5px;
}
.simpleList tr.total td{
	color:#eb0000;
}
.simpleList2{
	border-collapse:collapse;
	border:1px solid #b1d6e8;
}
.simpleList2 th{
	border:1px solid #b1d6e8;
	height:28px;
	line-height:28px;
	background-color:#e1f1f9;
	font-weight:normal;
	color:#333;
	text-align:right;
	padding-right:5px;
}
.simpleList2 td{
	height:28px;
	line-height:28x;
	border:0;
	border-bottom:1px solid #b1d6e8;
	color:#333;
	text-align:left;
	padding-left:5px;
}
.simpleList2 tr.total td{
	color:#eb0000;
}
.red{
	color:#f00;
}
.registerBt{
	width:48px;
	height:23px;
	border:0;
	cursor:pointer;
	background:url(../../commons/images/registerBt.gif) no-repeat;
}
.registerBtOFF{
	width:48px;
	height:23px;
	border:0;
	cursor:pointer;
	background:url(../../commons/images/registerBtOFF.gif) no-repeat;
}
.nextStep2{
	width:73px;
	height:23px;
	border:0;
	cursor:pointer;
	background:url(../../commons/images/nextStep2.gif) no-repeat;
}
.closeBt{
	width:73px;
	height:23px;
	border:0;
	cursor:pointer;
	background:url(../../commons/images/closeBt.gif) no-repeat;
}
.zdaBt{
	width:73px;
	height:23px;
	border:0;
	cursor:pointer;
	background:url(../../commons/images/zdaBt.gif) no-repeat;
}
.copyright{
	font-size:14px;
	font-family:serif;
}
/**热点问题开始**/
.qTheme,.qDatetime{
	line-height:20px;
	padding:5px;
}
.qTitle{
	font-weight:bold;
	color:#0072a4;
	width:550px;
	
	table-layout: fixed;
	WORD-BREAK: break-all; 
	WORD-WRAP: break-word;
}
.qContent{
	color:#333;
	width:550px;
	table-layout: fixed;
	WORD-BREAK: break-all; 
	WORD-WRAP: break-word;
}
.qContent span{
	font-weight:bold;
	color:#eb0000;
}
.qDatetime{
	color:#666;
}
.qDatetime div{
	text-align:center;
}
.odd td{
	background-color:#f9f9f9;
}
.even td{
	background-color:#fff;
}
/**热点问题结束**/