.context{margin-top:10px}
.context .pre_li{float:left;}
.context .next_li{float:right;}
	.share {
	padding:10px 11px 12px 16px;
	/*width:567px;*/
	height:43px;
	background:url(img/i.png) -170px -430px no-repeat;
	overflow:hidden
	
}
.share a{
	float:left;
	display:block;
	margin-top:1px;
	width:65px;
	_width:65px;
	overflow:hidden
}